* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, #F778B9 3%, #B378FF 38%, #486DB7 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed; }

@keyframes gradient {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 100% 100%; }
  100% {
    background-position: 0% 0%; } }

.wave {
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1; }

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8; }

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9; }

@keyframes wave {
  2% {
    transform: translateX(1); }
  25% {
    transform: translateX(-25%); }
  50% {
    transform: translateX(-50%); }
  75% {
    transform: translateX(-25%); }
  100% {
    transform: translateX(1); } }

.sesgoabajo {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: transparent transparent #fff transparent; }

.sesgoarriba {
  z-index: 10;
  position: absolute;
  left: 0;
  border-width: 35vh 100vw 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent; }

/* example class names 
.button__send {
    &--news {

    }

    &--form {

    }
    &:hover {

    }
}*/
/*.hero{
    background-size:cover;
    min-height: 500px;
    height: 100vh;
    color: white;
}

 The Hamburger icon with the menu */
.header {
  width: 100%;
  height: 100vh;
  background-image: url(../.././images/photo_01.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: left; }
  .header__container {
    height: 70px;
    background-color: white; }
  .header__navbar {
    width: 300px;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 0.8s cubic-bezier(1, 0, 0, 1); }
    .header__navbar__hamburger-menu {
      width: 35px;
      height: 30px;
      position: fixed;
      top: 20px;
      left: 58px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .header__navbar__hamburger-menu .line {
        width: 100%;
        height: 3px;
        background-color: black;
        transition: all .8s; }
  .header__nav__list {
    text-align: left; }
  .header__nav__item {
    list-style: none;
    margin: 25px; }
  .header__nav__link {
    text-decoration: none;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
    color: black; }
  .header__texts {
    width: 35%;
    margin-top: 100px;
    margin-left: 90px; }
  .header__title {
    font-size: 55px;
    margin-bottom: 32px; }
    .header__title span {
      color: #F778B9; }
  .header__subtitulo {
    width: 57%;
    font-weight: 300;
    margin-bottom: 32px; }
    .header__subtitulo.B {
      width: 90%; }
  .header__button {
    cursor: pointer;
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px; }

.change {
  left: 0; }

.change .line-1 {
  transform: rotateZ(-45deg) translate(-8px, 6px); }

.change .line-2 {
  opacity: 0; }

.change .line-3 {
  transform: rotateZ(45deg) translate(-8px, -6px); }

/*SLIDER*/
.main__about-us {
  background-color: white; }
  .main__about-us .boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, 0.7);
    color: #181010;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: 24px; }

.main__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 52px 0;
  align-items: center; }

.main__title {
  text-align: center;
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 600; }

.main__slogan {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 24px; }

.main__parrafo {
  margin-bottom: 13px;
  font-weight: 300;
  text-align: justify;
  line-height: 24px;
  color: #181010; }

.main__cards {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .main__cards img {
    width: 20%;
    object-fit: cover;
    overflow: hidden; }

.main__card {
  margin: 20px;
  width: 20%;
  height: 350px;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
  border-radius: 4px; }

.main__gallery {
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-wrap: wrap; }

.main__images {
  width: 20%;
  height: 500px;
  overflow: hidden;
  position: relative; }
  .main__images img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .main__images .encima {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .main__images .encima h2 {
      position: relative;
      top: 45%;
      text-align: center;
      color: #fff; }
    .main__images .encima div {
      position: relative;
      display: block;
      top: 46%;
      width: 40px;
      height: 5px;
      background: #fff;
      margin: auto; }
