@import "./media-queries";

.footer{
    background:#486DB7;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    @include breakpoint(xs){
        text-align:left;
        padding:5%;
    }
    .row{
        width:100%;
        margin:1% 0%;
        padding:0.6% 0%;
        color: white;
        font-size:0.8em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        @include breakpoint(xs){
            flex-direction: column;
            margin:10px 0px;
            text-align:left;
        }
        a{
            text-decoration:none;
            color: white;
            transition:0.5s;
            &:hover{
                color:#fff;
            }
        }
        ul{
            width:100%;
        }
        ul li{
            display:inline-block;
            margin:0px 30px;
            @include breakpoint(xs){
                display:block;
                margin:10px 0px;
                text-align:left;
            }
        }
        a i{
            font-size:2em;
            margin:0% 1%;
            @include breakpoint(xs){
                margin:0% 3%;
            }
        }
    }
    .par{
        margin: 20px;
        width: 450px;
        text-align: justify;
        @include breakpoint(xxs){
            margin: 20px;
            width: auto;
            text-align: justify;
        }
    }
}