@import "./media-queries";

.professionals {
    &.contenedor{
        width: 80%;
        height: 400px;
        overflow: hidden;
        justify-content: center;
        margin: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .hero__cta2{
        display: none;
        @include breakpoint(xs){
            display: inline-block;
            padding: 6px;
            width: 128px;
            font-weight: 300;
            border: 1px solid white;
            color: white;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            border-radius: 16px;
            margin-top: 24px;
        }
    }
    &__fondo {
        height: 900px;
        position: relative;
        overflow: hidden;
        background-attachment: fixed;
        background-position: center;
        display: flex;
    }
    &__title, &__subtitle{
        color: #fff;
        text-align: center;
    }
    &__title {
        font-size: 56px;
    }
    &__subtitle {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 64px;
    }
    &__tips {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 64px;
        width: 100%;
        justify-content: space-between;
        @include breakpoint(xs){
            display:none;
        }
        .tip {
            width: 30%;
            background-color: #fff;
            border-radius: 4px;
            color: black;
            padding: 16px;
            overflow: hidden;
            transition: .6s;
            transform: translate(0);
            font-weight: 400;
            &:hover{
                color: #fff;
            }
            p{
                margin: 0;
            }
            &::before{
                content: "";
                position:absolute;
                top: -75px;
                left:-45px;
                z-index: -1;
                background: linear-gradient(to right, #F778B9, #B378FF);
                border-radius: 50%;
                width: 200px;
                height: 200px;
                transition: .6s;
            }
            &:hover::before{
                transform: scale(4.5);
            }
        }
    }
}

.modal2{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal2--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container2{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modal__title2{
    font-size: 2.5rem;
}

.modal__paragraph2{
    margin-bottom: 10px;
}

.modal__img2{
    width: 90%;
    max-width: 300px;
}

.modal__close2{
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__close2:hover{
    color: #F26250;
    background-color: #fff;
}


@media (max-width:800px) {

    .modal__container2{
        padding: 2em 1.5em;
    }

    .modal__title2{
        font-size: 2rem;
    }
}